/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-height: 100dvh;
  background: var(--color-bg);
  color: var(--color-text);
}

img,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Variables */
:root {
  font-family: "Roboto", "Plus Jakarta Sans", sans-serif;
  --content-max: 1200px;
  --gutter: 16px;

  --color-bg: #ffffff;
  --color-surface: #d3d9e0;
  --color-text: #000000;
  --color-title: #282520;
  --color-muted: #2a2c30;
  --color-accent: #f97316 !important;
  --color-accent-2: #22c55e;
  --color-accent-3: #f98250;
  --color-lightgr:#848484;
  --color-darkgr:#282520;
  --color-borderhover:#3a5a40;
  --color-bxshdw:#17a2741a;
  --color-lightgr-bg:#2825201F;
  --color-btn-hover:#599673;
  --color-modal-bg: rgba(0,0,0,0.8);
  --color-modal-bxshdw:rgba(0,0,0,0.6);
  --color-accent-red:#ff5555;
  --radius: 12px;
  --shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

/* Typography */
h1 {
  font-family: "Plus Jakarta Sans", serif;
  font-size: 2rem;
  line-height: 1.2;
}

h2 {
  font-family: "Plus Jakarta Sans", serif;
  font-size: 1.875rem;
  line-height: 1.3;
}

h3 {
  font-size: 1.125rem;
}

p {
  line-height: 1.6;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
