<footer class="footer">
  <div class="footer__container">
    <!-- 1. Logo -->
    <div class="footer__brand">
      <a class="footer__logo-link" href="index.html">
        <img
          class="footer__logo"
          src="img/global/cabin-logo.webp"
          alt="Cabin Rental Logo"
        />
      </a>
    </div>
    <!-- 2. About + Rental policies -->
    <nav class="footer__nav footer__nav--primary">
      <ul class="footer__menu">
        <li class="footer__menu-item">
          <a class="footer__menu-link" href="about.html">About</a>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link" href="rental-policies.html">
            Rental policies
          </a>
        </li>
      </ul>
    </nav>

    <!-- 3. Photos + How to get there -->
    <nav class="footer__nav">
      <ul class="footer__menu">
        <li class="footer__menu-item">
          <a class="footer__menu-link" href="gallery.html">Photos</a>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link" href="how-to-get-there.html">
            How to get there
          </a>
        </li>
      </ul>
    </nav>

    <!-- 4. Accommodation -->
    <nav class="footer__nav">
      <ul class="footer__menu">
        <li class="footer__menu-item">
          <a class="footer__menu-link" href="accommodation.html">
            Accommodation
          </a>
        </li>
      </ul>
    </nav>
    <!-- 5. Socials -->
    <div class="footer__social">
      <p class="footer__social-title">Follow Us</p>
      <ul class="footer__social-list">
        <li>
          <a
            class="footer__social-link"
            href="https://www.facebook.com/"
            target="_blank"
            aria-label="Facebook"
          >
            <img
              class="footer__social-icon"
              src="img/global/facebook.svg"
              alt="Facebook Icon"
            />
          </a>
        </li>
        <li>
          <a
            class="footer__social-link"
            href="https://twitter.com/"
            target="_blank"
            aria-label="Twitter"
          >
            <img
              class="footer__social-icon"
              src="img/global/twitter.svg"
              alt="Twitter Icon"
            />
          </a>
        </li>
        <li>
          <a
            class="footer__social-link"
            href="https://instagram.com/"
            target="_blank"
            aria-label="Instagram"
          >
            <img
              class="footer__social-icon"
              src="img/global/instagram.svg"
              alt="Instagram Icon"
            />
          </a>
        </li>
        <li>
          <a
            class="footer__social-link"
            href="https://linkedin.com/"
            target="_blank"
            aria-label="LinkedIn"
          >
            <img
              class="footer__social-icon"
              src="img/global/linkedin.svg"
              alt="LinkedIn Icon"
            />
          </a>
        </li>
      </ul>
    </div>
    <p id="current-year-mobile" class="footer__mobile-year">
      &copy; <span id="current-year"></span> Cabin Rental. All rights reserved.
    </p>
  </div>
</footer>
