<section class="accommodation-cabin-rentals">
  <h1 class="accommodation-cabin-rentals__title">Cabin Rentals</h1>
  <div class="accommodation-cabin-rentals__list">

    <div class="accommodation-cabin-rentals__item">
      <div class="accommodation-cabin-rentals__content">
        <img src="img/cabin-rentals.partial/river-chalet.jpeg" alt="River Chalet" class="accommodation-cabin-rentals__image" />
        <div class="accommodation-cabin-rentals__info">
          <h3 class="accommodation-cabin-rentals__price">
            <span class="price-amount">$65/</span><span class="price-period">a night</span>
          </h3>
          <h4 class="accommodation-cabin-rentals__name">River Chalet</h4>
          <ul class="accommodation-cabin-rentals__details">
            <li class="accommodation-cabin-rentals__detail"><span class="icon-placeholder"></span>1 Bedroom</li>
            <li class="accommodation-cabin-rentals__detail"><span class="icon-placeholder"></span>1 Bathroom</li>
            <li class="accommodation-cabin-rentals__detail"><span class="icon-placeholder"></span>Sleeps 2</li>
          </ul>
          <div class="accommodation-cabin-rentals__features">Jetted Tub
Flat Panel TV
Fireplace
WiFi</div>
          <button class="accommodation-cabin-rentals__btn">RESERVE CABIN</button>
        </div>
      </div>
    </div>

    <div class="accommodation-cabin-rentals__item">
      <div class="accommodation-cabin-rentals__content">
        <img src="img/cabin-rentals.partial/lookout-lodge.jpeg" alt="Lookout Lodge" class="accommodation-cabin-rentals__image" />
        <div class="accommodation-cabin-rentals__info">
          <h3 class="accommodation-cabin-rentals__price">
            <span class="price-amount">$75/</span><span class="price-period">a night</span>
          </h3>
          <h4 class="accommodation-cabin-rentals__name">Lookout Lodge</h4>
          <ul class="accommodation-cabin-rentals__details">
            <li class="accommodation-cabin-rentals__detail"><span class="icon-placeholder"></span>2 Bedrooms</li>
            <li class="accommodation-cabin-rentals__detail"><span class="icon-placeholder"></span>1 Bathroom</li>
            <li class="accommodation-cabin-rentals__detail"><span class="icon-placeholder"></span>Sleeps 4</li>
          </ul>
          <div class="accommodation-cabin-rentals__features">Hot Tub
Pool Table
Jacuzzi Tub
WiFi</div>
          <button class="accommodation-cabin-rentals__btn">RESERVE CABIN</button>
        </div>
      </div>
    </div>

    <div class="accommodation-cabin-rentals__item">
      <div class="accommodation-cabin-rentals__content">
        <img src="img/cabin-rentals.partial/smoky-view-chalet.jpeg" alt="Smoky View Chalet" class="accommodation-cabin-rentals__image" />
        <div class="accommodation-cabin-rentals__info">
          <h3 class="accommodation-cabin-rentals__price">
            <span class="price-amount">$85/</span><span class="price-period">a night</span>
          </h3>
          <h4 class="accommodation-cabin-rentals__name">Smoky View Chalet</h4>
          <ul class="accommodation-cabin-rentals__details">
            <li class="accommodation-cabin-rentals__detail"><span class="icon-placeholder"></span>2 Bedrooms</li>
            <li class="accommodation-cabin-rentals__detail"><span class="icon-placeholder"></span>2 Bathrooms</li>
            <li class="accommodation-cabin-rentals__detail"><span class="icon-placeholder"></span>Sleeps 6</li>
          </ul>
          <div class="accommodation-cabin-rentals__features">Whirlpool Tub
Air Hockey
Fireplace
WiFi</div>
          <button class="accommodation-cabin-rentals__btn">RESERVE CABIN</button>
        </div>
      </div>
    </div>

    <div class="accommodation-cabin-rentals__item">
      <div class="accommodation-cabin-rentals__content">
        <img src="img/cabin-rentals.partial/mountain-haven.jpeg" alt="Mountain Haven" class="accommodation-cabin-rentals__image" />
        <div class="accommodation-cabin-rentals__info">
          <h3 class="accommodation-cabin-rentals__price">
            <span class="price-amount">$100/</span><span class="price-period">a night</span>
          </h3>
          <h4 class="accommodation-cabin-rentals__name">Mountain Haven</h4>
          <ul class="accommodation-cabin-rentals__details">
            <li class="accommodation-cabin-rentals__detail"><span class="icon-placeholder"></span>3 Bedrooms</li>
            <li class="accommodation-cabin-rentals__detail"><span class="icon-placeholder"></span>2 Bathrooms</li>
            <li class="accommodation-cabin-rentals__detail"><span class="icon-placeholder"></span>Sleeps 8</li>
          </ul>
          <div class="accommodation-cabin-rentals__features">Whirlpool Tub
Fireplace
Grill
WiFi</div>
          <button class="accommodation-cabin-rentals__btn">RESERVE CABIN</button>
        </div>
      </div>
    </div>

    <div class="accommodation-cabin-rentals__item">
      <div class="accommodation-cabin-rentals__content">
        <img src="img/cabin-rentals.partial/mountain-splash.jpeg" alt="Mountain Splash" class="accommodation-cabin-rentals__image" />
        <div class="accommodation-cabin-rentals__info">
          <h3 class="accommodation-cabin-rentals__price">
            <span class="price-amount">$150/</span><span class="price-period">a night</span>
          </h3>
          <h4 class="accommodation-cabin-rentals__name">Mountain Splash</h4>
          <ul class="accommodation-cabin-rentals__details">
            <li class="accommodation-cabin-rentals__detail"><span class="icon-placeholder"></span>3 Bedrooms</li>
            <li class="accommodation-cabin-rentals__detail"><span class="icon-placeholder"></span>3 Bathrooms</li>
            <li class="accommodation-cabin-rentals__detail"><span class="icon-placeholder"></span>Sleeps 10</li>
          </ul>
          <div class="accommodation-cabin-rentals__features">Private Indoor Pool
Pool Table
Hot Tub
Air Hockey</div>
          <button class="accommodation-cabin-rentals__btn">RESERVE CABIN</button>
        </div>
      </div>
    </div>

  </div>
</section>
