<!-- Mariia Shuryha -->
<div id="choose-the-best" class="accommodation-contact-form">
  <div class="accommodation-contact-form__box">
    <h2 class="accommodation-contact-form__title">Choose the best one</h2>
    <p class="accommodation-contact-form__subtitle">
      Complete the form below to make a reservation
    </p>
    <form
      action="https://formspree.io/f/manpdpav"
      method="POST"
      class="accommodation-contact-form__form"
    >
      <div class="accommodation-contact-form__group">
        <div class="accommodation-contact-form__field">
          <input
            type="text"
            name="name"
            class="accommodation-contact-form__input"
            placeholder="Name*"
            required
          />
        </div>
        <div class="accommodation-contact-form__field">
          <input
            type="tel"
            name="phone"
            class="accommodation-contact-form__input"
            placeholder="Phone number*"
            required
          />
        </div>
        <div class="accommodation-contact-form__field">
          <input
            type="text"
            name="checkin-date"
            class="accommodation-contact-form__input"
            placeholder="Check in date"
          />
        </div>
        <div class="accommodation-contact-form__field">
          <input
            type="text"
            name="checkout-date"
            class="accommodation-contact-form__input"
            placeholder="Check out date"
          />
        </div>
        <div class="accommodation-contact-form__field custom-select-wrapper">
          <svg class="select-arrow" width="12" height="12" viewBox="0 0 14 8">
            <path
              d="M7.7 7.7l6-6c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0L7 5.6 1.7.299999c-.4-.4-1-.4-1.4 0-.2.2-.3.4-.3.7C0 1.3.1 1.5.3 1.7l6 6c.2.2.5.3.7.3.3 0 .5-.1.7-.3z"
            ></path>
          </svg>

          <select
            name="guests"
            class="accommodation-contact-form__select"
            required
          >
            <option value="" disabled selected hidden>Cabin type</option>
            <option value="1">Cabin Classic</option>
            <option value="2">Cabin Superior</option>
            <option value="3">Cabin Superior+</option>
            <option value="4">American Eagle</option>
            <option value="5">The Firehouse</option>
          </select>
        </div>
      </div>
      <button type="submit" class="accommodation-contact-form__btn">
        Make a reservation
      </button>
    </form>
  </div>
</div>

<!-- Mariia Shuryha -->
