.guide {
  margin: 0 auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #282520;

  position: relative;
  display: block;
  flex-basis: 100%;
  min-width: 320px;

  background-color: rgb(243, 243, 242);
  --bg: url("../../img/how-to-get-there/guide-background.jpg");
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.55)),
    var(--bg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 24px;
}

.guide__title {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: 'Plus Jakarta Sans', serif;
}

.guide__text {
  line-height: 1.6;
  max-width: 750px;
  margin: 0 auto 40px;
  font-size: 19px;
}

.guide__ways {
  display: grid;
  gap: 30px;
  max-width: 750px;
  margin: 0 auto 60px;
  text-align: left;
}

.guide__way {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.guide__way-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
  font-family: 'Plus Jakarta Sans', serif;
}

.guide__way-text {
  font-size: 16px;
  line-height: 1.5;
}

.guide__icon {
  flex: 0 0 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.075);
  transition: box-shadow 0.3s ease;
}

.guide__icon:hover {
  box-shadow: 0 0 6px rgba(249, 115, 22, 0.75);
}

.guide__icon img {
  width: 26px;
  height: 26px;
}

/* Image Section */

.guide__images {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  max-width: 1125px;
  margin: auto;
}

.guide__images img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}

.guide__images-left {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 20px;
}

/* Modal Section */

.guide__modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
}

.guide__modal-content {
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
  border-radius: 0;
}

.guide__modal-close,
.guide__modal-prev,
.guide__modal-next {
  position: absolute;
  top: 50%;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  padding: 10px;
  transform: translateY(-50%);
}

.guide__modal-close {
  top: 20px;
  right: 40px;
  font-size: 50px;
  transform: none;
}

.guide__modal-prev {
  left: 20px;
}

.guide__modal-next {
  right: 20px;
}

.guide__modal-close:hover,
.guide__modal-prev:hover,
.guide__modal-next:hover {
  color: #ccc;
}

@media (min-width: 769px) {
  .guide__title {
    font-size: 39px;
  }

  .guide__images {
    grid-template-columns: 1fr 1fr;
  }

  .guide__images img {
    width: 100%;
    height: 100%;
  }

  .guide__images-left {
    grid-template-rows: 1fr 1fr;
    max-height: 515px;
  }

  .guide__images-left img {
    height: 100%;
    max-height: 247.5px;
  }

  .guide__icon img {
    width: 40px;
    height: 40px;
  }

  .guide__icon {
    flex: 0 0 70px;
    height: 70px;
  }

  .guide__modal {
    padding-top: 60px;
  }

  .guide__modal-content {
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
  }
}

@media (min-width: 900px) {
  .guide__title {
    font-size: 44px;
  }
}