<section class="guide">
    <div class="guide__desc">
        <h1 class="guide__title">
            How to Get There
        </h1>
        <p class="guide__text">
            Yosemite village is a four-hour drive from San Francisco and Sacramento, five hours from Reno and six hours
            from Los Angeles. The nearest local airports are Fresno, Merced and Modesto.
        </p>
    </div>

    <div class="guide__ways">
        <div class="guide__way">
            <div class="guide__icon">
                <img src="img/how-to-get-there/guide-car.svg" alt="Car">
            </div>
            <div>
                <h3 class="guide__way-title">By car</h3>
                <p class="guide__way-text">
                    Stick to the US Route 120 or 140, or to the US 41 if you travel from the South. When in Yosemite
                    Park,
                    turn left and drive about 15 minutes, then turn right on the crossroad, and you’ll see the Yosemite
                    Village sign in 10 minutes.
                </p>
            </div>
        </div>

        <div class="guide__way">
            <div class="guide__icon">
                <img src="img/how-to-get-there/guide-train.svg" alt="Train">
                </svg>
            </div>
            <div>
                <h3 class="guide__way-title">By train</h3>
                <p class="guide__way-text">
                    Buy a San Joaquins train ticket if you travel from San Francisco or Sacramento, and then change to
                    the
                    YARTS bus to get to the very Yosemite village, turn right from the bus stop and walk around 5
                    minutes.
                </p>
            </div>
        </div>
    </div>
    <div class="guide__images">
        <img src="img/how-to-get-there/guide-image-1.jpg" alt="" class="guide__modal-trigger">
        <div class="guide__images-left">
            <img src="img/how-to-get-there/guide-image-2.jpg" alt="" class="guide__modal-trigger">
            <img src="img/how-to-get-there/guide-image-3.jpg" alt="" class="guide__modal-trigger">
        </div>
    </div>
    <div class="guide__modal">
        <span class="guide__modal-close">&times;</span>
        <span class="guide__modal-prev">&#10094;</span>
        <span class="guide__modal-next">&#10095;</span>
        <img class="guide__modal-content">
    </div>
</section>