<!--Cherevychnyi Yaroslav-->
<section class="shop-cafe__wrapper">
  <div class="shopcafe__text">
    <h2 class="shopcafe__title">Shop & Cafe</h2>
    <p class="shopcafe__description">
      Yosemite Shop and Cafe is located on site, offering the freshest and the
      best local food and drinks during the day. We are open morning to late
      evening during the summer season.
    </p>
  </div>
  <ul class="shopcafe__pictures">
    <li class="shopcafe__pictures-item">
      <article class="shopcafe__item-wrapper">
        <a href="img/index.shop-cafe/free-breakfast.webp" class="shopcafe__lightbox-link">
          <img
            class="shopcafe__picture"
            width="363"
            src="img/index.shop-cafe/free-breakfast.webp"
            alt="Free Breakfast"
          />
        </a>
        <h3 class="shopcafe__picture-title">Free Breakfast</h3>
        <p class="shopcafe__picture-text">
          We are known for our breakfasts, which we serve each day from 9:30 to
          11:00. We respect our guests and can offer a diversified menu with
          something special to satisfy any whimsical taste.
        </p>
      </article>
    </li>
    <li class="shopcafe__pictures-item">
      <article class="shopcafe__item-wrapper">
        <a href="img/index.shop-cafe/lunch-light-bites.webp" class="shopcafe__lightbox-link">
          <img
            class="shopcafe__picture"
            width="363"
            src="img/index.shop-cafe/lunch-light-bites.webp"
            alt="Lunch & Light Bites"
          />
        </a>
        <h3 class="shopcafe__picture-title">Lunch & Light Bites</h3>
        <p class="shopcafe__picture-text">
          We offer a wide range of starters, snacks, light bites, main courses, and
          incredibly delicious desserts Monday to Saturday. We use only seasonal
          ingredients and change our menu daily.
        </p>
      </article>
    </li>
  </ul>
</section>
