<!--Hordiienko Vladyslava-->
<div class = "reservation_img">
<section id="reservation_form" class="reservation__container">
    <div class="reservation__name">
        <h2 class="reservation__header">Make a reservation</h2>
    </div>
    <div class="reservation__description">
        <p class="reservation__text">Please complete the form below</p>
    </div>
    <div class="reservation__field">
        <input class="reservation__field-column" type="text" name="name" placeholder="Name*" required>
        <input class="reservation__field-column" type="text" name="phonenumber" placeholder="Phone numder*" required>
        <input class="reservation__field-column" type="text" name="checkin" placeholder="Check in date">
        <input class="reservation__field-column" type="text" name="checkout" placeholder="Check out date">
        <select class="reservation__field-choose" name="guests" id="guests">
            <option class="reservation__field-option" value="" disabled selected>Number of guests</option>
            <option class="reservation__field-option" value="1">1</option>
            <option class="reservation__field-option" value="2">2</option>
            <option class="reservation__field-option" value="3">3</option>
            <option class="reservation__field-option" value="4">4</option>
            <option class="reservation__field-option" value="5">5</option>
            <option class="reservation__field-option" value="5+">5+</option>
        </select>
    </div>
    <div class="reservation__button">
        <button class="reservation__submit" type="submit">Make a reservation</button>
    </div>
</section>
</div>

 <div class="modal">
  <div class="modal__content">
    <h2 class="modal__title">Thank you!</h2>
    <p class="modal__text">We will contact you shortly.</p>
    <button class="modal__ok">Ok</button>
  </div>
</div>

<script src="/js/partials/index.make-a-reservation.js"></script>
