<!--Andrii Khrushch-->
<div class="adventure-hero">
  <img
    src="img/index.adventure-hero/left-tree.jpg"
    class="adventure-hero__tree-img adventure-hero__tree-img--left"
    alt="Left Tree"
  />
  <img
    src="img/index.adventure-hero/left-tree.jpg"
    class="adventure-hero__tree-img adventure-hero__tree-img--right"
    alt="Right Tree"
  />
  <section class="adventure-hero__section">
    <div class="adventure-hero__inner">
      <h2 class="adventure-hero__title">Your Adventure Starts Here</h2>
      <p class="adventure-hero__description">
        Welcome to a perfect escape in Yosemite Mariposa County, California!
        Yosemite National Park is known for its giant sequoias and the
        observation deck of the Portal View, which overlooks the Briddlevale
        Falls, the El Capitan granite rocks and the Half House. The Yosemite
        village proudly offers a lot of shops, restaurants, hotels, and a
        museum, along with the Ansel Adams Gallery. Plan your adventure and find
        your place in Yosemite!
      </p>
      <div class="adventure-hero__controls">
        <button id="shuffleBtn">Shuffle</button>
        <button id="sortBtn">Sort A–Z</button>
      </div>

      <ul class="adventure-hero__list"></ul>
    </div>
  </section>
  <div id="imageModal" class="adventure-modal">
    <span class="adventure-modal__close">&times;</span>
    <img class="adventure-modal__content" id="modalImg" alt="" />
    <div id="modalCaption" class="adventure-modal__caption"></div>
  </div>
</div>
