<section class="guests">
    <h2 class="guests__title">Our guests</h2>
  
    <div class="guests__carousel"> 
        <div class="guests-carousel__track-container"> 
            <ul class="guests-carousel__track"> 
                <li class="guests-carousel__slide"> 
                    <img src="img/guests/guest-1.webp" width="300" height="auto" alt="Slide 1" class="carousel__image"> 
                </li> 
               <li class="guests-carousel__slide"> 
                    <img src="img/guests/guest-2.webp" width="300" height="auto" alt="Slide 2" class="carousel__image"> 
                </li> 
                <li class="guests-carousel__slide"> 
                    <img src="img/guests/guest-3.webp" width="300" height="auto" alt="Slide 3" class="carousel__image"> 
                </li> 
                <li class="guests-carousel__slide"> 
                    <img src="img/guests/guest-4.webp" width="300" height="auto" alt="Slide 4" class="carousel__image"> 
                </li> 
                <li class="guests-carousel__slide"> 
                    <img src="img/guests/guest-5.webp" width="300" height="auto" alt="Slide 5" class="carousel__image"> 
                </li> 
                <li class="guests-carousel__slide"> 
                    <img src="img/guests/guest-6.webp" width="300" height="auto" alt="Slide 6" class="carousel__image"> 
                </li> 
                <li class="guests-carousel__slide"> 
                    <img src="img/guests/guest-7.webp" width="300" height="auto" alt="Slide 7" class="carousel__image"> 
                </li> 
            </ul> 
        </div> 
        <button class="guests-carousel__button guests-carousel__button--left" type="button">
            <svg class="arrow-svg_1j4" viewBox="0 0 30 30"><defs><path d="M19.533 15l-9.1-9.45c-.577-.6-.577-1.5 0-2.1.578-.6 1.445-.6 2.023 0l10.11 10.5c.29.3.434.75.434 1.05 0 .45-.144.75-.433 1.05l-10.111 10.5c-.29.3-.578.45-1.012.45-.433 0-.722-.15-1.01-.45-.578-.6-.578-1.5 0-2.1l9.1-9.45z" id="a-1717601882413"></path></defs><use fill-rule="nonzero" opacity=".8" xlink:href="#a-1717601882413"></use></svg>
        </button> 
        <button class="guests-carousel__button guests-carousel__button--right" type="button">
            <svg class="arrow-svg_1j4" viewBox="0 0 30 30"><defs><path d="M19.533 15l-9.1-9.45c-.577-.6-.577-1.5 0-2.1.578-.6 1.445-.6 2.023 0l10.11 10.5c.29.3.434.75.434 1.05 0 .45-.144.75-.433 1.05l-10.111 10.5c-.29.3-.578.45-1.012.45-.433 0-.722-.15-1.01-.45-.578-.6-.578-1.5 0-2.1l9.1-9.45z" id="a-1717601882413"></path></defs><use fill-rule="nonzero" opacity=".8" xlink:href="#a-1717601882413"></use></svg>
        </button> 
    </div>
</section>