<!--Dykunec Ivan-->
<section class="gallery">
  <h1 class="gallery__title">Gallery</h1>
  <nav class="gallery__filter">
    <ul class="gallery__filter-list">
      <li class="gallery__filter-item" data-category="summer">Summer</li>
      <li class="gallery__filter-item" data-category="winter">Winter</li>
      <li class="gallery__filter-item" data-category="spring">Spring</li>
      <li class="gallery__filter-item" data-category="autumn">Autumn</li>
      <li class="gallery__filter-item" data-category="fishing">Fishing</li>
      <li class="gallery__filter-item" data-category="spa">SPA</li>
    </ul>
  </nav>
  <div class="gallery__category" data-category="summer">
    <div class="gallery__images">
      <div class="gallery__item gallery__item--big">
        <img
          class="gallery__image"
          src="img/gallery/summer/summer1.webp"
          alt="Cozy wooden cabin with access to a balcony in the forest"
        />
      </div>
      <div class="gallery__item gallery__item--small">
        <img
          class="gallery__image"
          src="img/gallery/summer/summer2.webp"
          alt="Wooden treehouse cabin with terrace surrounded by forest"
        />
      </div>
      <div class="gallery__item gallery__item--small">
        <img
          class="gallery__image"
          src="img/gallery/summer/summer3.webp"
          alt="Summer landscape 3"
        />
      </div>
    </div>
    <div class="gallery__images1">
      <div class="gallery__item gallery__item--small">
        <img
          class="gallery__image"
          src="img/gallery/summer/summer4.webp"
          alt="Summer landscape 4"
        />
      </div>
      <div class="gallery__item gallery__item--small">
        <img
          class="gallery__image"
          src="img/gallery/summer/summer5.webp"
          alt="Summer landscape 5"
        />
      </div>
      <div class="gallery__item gallery__item--big">
        <img
          class="gallery__image"
          src="img/gallery/summer/summer6.webp"
          alt="Summer landscape 6"
        />
      </div>
    </div>
  </div>
  <div class="gallery__category" data-category="winter">
    <div class="gallery__images">
      <div class="gallery__item gallery__item--small">
        <img
          class="gallery__image"
          src="img/gallery/winter/winter1.webp"
          alt="Winter view 1"
        />
      </div>
      <div class="gallery__item gallery__item--big">
        <img
          class="gallery__image"
          src="img/gallery/winter/winter2.webp"
          alt="Winter view 2"
        />
      </div>
      <div class="gallery__item gallery__item--small">
        <img
          class="gallery__image"
          src="img/gallery/winter/winter3.webp"
          alt="Winter view 3"
        />
      </div>
    </div>
    <div class="gallery__images1">
      <div class="gallery__item gallery__item--big">
        <img
          class="gallery__image"
          src="img/gallery/winter/winter4.webp"
          alt="Winter view 4"
        />
      </div>
      <div class="gallery__item gallery__item--small">
        <img
          class="gallery__image"
          src="img/gallery/winter/winter5.webp"
          alt="Winter view 5"
        />
      </div>
      <div class="gallery__item gallery__item--small">
        <img
          class="gallery__image"
          src="img/gallery/winter/winter6.webp"
          alt="Winter view 6"
        />
      </div>
    </div>
  </div>
  <div class="gallery__category" data-category="spring">
    <div class="gallery__images">
      <div class="gallery__item gallery__item--small">
        <img
          class="gallery__image"
          src="img/gallery/spring/spring1.webp"
          alt="Spring scenery 1"
        />
      </div>
      <div class="gallery__item gallery__item--big">
        <img
          class="gallery__image"
          src="img/gallery/spring/spring2.webp"
          alt="Spring scenery 2"
        />
      </div>
      <div class="gallery__item gallery__item--small">
        <img
          class="gallery__image"
          src="img/gallery/spring/spring3.webp"
          alt="Spring scenery 3"
        />
      </div>
    </div>
  </div>
  <div class="gallery__category" data-category="autumn">
    <div class="gallery__images">
      <div class="gallery__item gallery__item--small">
        <img
          class="gallery__image"
          src="img/gallery/autumn/autumn.webp"
          alt="Autumn view 1"
        />
      </div>
      <div class="gallery__item gallery__item--small">
        <img
          class="gallery__image"
          src="img/gallery/autumn/autumn2.webp"
          alt="Autumn view 2"
        />
      </div>
      <div class="gallery__item gallery__item--big">
        <img
          class="gallery__image"
          src="img/gallery/autumn/autumn3.webp"
          alt="Autumn view 3"
        />
      </div>
    </div>
  </div>
  <div class="gallery__category" data-category="fishing">
    <div class="gallery__images">
      <div class="gallery__item gallery__item--big">
        <img
          class="gallery__image"
          src="img/gallery/fishing/fishing1.webp"
          alt="Fishing activity 1"
        />
      </div>
      <div class="gallery__item gallery__item--small">
        <img
          class="gallery__image"
          src="img/gallery/fishing/fishing2.webp"
          alt="Fishing activity 2"
        />
      </div>
      <div class="gallery__item gallery__item--small">
        <img
          class="gallery__image"
          src="img/gallery/fishing/fishing3.webp"
          alt="Fishing activity 3"
        />
      </div>
    </div>
  </div>
  <div class="gallery__category" data-category="spa">
    <div class="gallery__images">
      <div class="gallery__item gallery__item--big">
        <img
          class="gallery__image"
          src="img/gallery/spa/spa1.webp"
          alt="SPA center 1"
        />
      </div>
      <div class="gallery__item gallery__item--small">
        <img
          class="gallery__image"
          src="img/gallery/spa/spa2.webp"
          alt="SPA center 2"
        />
      </div>
      <div class="gallery__item gallery__item--small">
        <img
          class="gallery__image"
          src="img/gallery/spa/spa3.webp"
          alt="SPA center 3"
        />
      </div>
    </div>
  </div>
</section>
