<section class="intro">
  <div class="intro__container">
    <div class="intro__text">
      <p>
        We have a children's playground with a number of swings and slides. Our
        spacious terrain is for you to relax in the outdoors. You don't need to
        take food with you, as we offer a shop with the freshest local produce
        including bakery and butchery. Our cafe is open 7 days a week from 9:30
        for our famous free breakfasts, and a diverse menu of lunches.
        Additionally, we offer a variety of cabins for you to choose from. Here
        are some of them:
      </p>
    </div>

    <div class="cottages">
      <div class="cottages__item">
        <img
          src="img/about.about-yosemite/horse-ranch-cottage.webp"
          alt="Horse Ranch Cottage"
          class="cottages__image"
        />
        <div class="cottages__content">
          <h3 class="cottages__title">Horse Ranch Cottage</h3>
          <p class="cottages__description">
            This private cottage is located within the Horse Ranch with a spacious
            fenced area. Explore a lot of tree-lined trails, see ranch animals and
            spectacular views.
          </p>
        </div>
      </div>

      <div class="cottages__item">
        <img
          src="img/about.about-yosemite/tuolumne-meadows-lodge.webp"
          alt="Tuolumne Meadows Lodge"
          class="cottages__image"
        />
        <div class="cottages__content">
          <h3 class="cottages__title">Tuolumne Meadows Lodge</h3>
          <p class="cottages__description">
            The Tuolumne Meadows Lodge offers 70 canvas-tent cabins for you to
            rent June to late August. This can be your best place to rest after an
            exhausting backpacking trip.
          </p>
        </div>
      </div>

      <div class="cottages__item">
        <img
          src="img/about.about-yosemite/sunrise-vacation-rental.webp"
          alt="Sunrise Vacation Rental"
          class="cottages__image"
        />
        <div class="cottages__content">
          <h3 class="cottages__title">Sunrise Vacation Rental</h3>
          <p class="cottages__description">
            This beautiful holiday home is waiting for you to stay in. This
            bright, clean, and modern home is located 29 miles from Yosemite
            National Park. It has new beds and furniture.
          </p>
        </div>
      </div>

      <div class="cottages__item">
        <img
          src="img/about.about-yosemite/donya-marie's-cottage.webp"
          alt="Donya Marie's Cottage"
          class="cottages__image"
        />
        <div class="cottages__content">
          <h3 class="cottages__title">Donya Marie's Cottage</h3>
          <p class="cottages__description">
            Surrounded by pine trees of the Sierra Foothills, 40 minutes from
            Yosemite, this modern country cottage is the ideal place to stay in
            and enjoy the nature around you.
          </p>
        </div>
      </div>

      <div class="cottages__item">
        <img
          src="img/about.about-yosemite/sierra-meadow-cottage.webp"
          alt="Sierra Meadow Cottage"
          class="cottages__image"
        />
        <div class="cottages__content">
          <h3 class="cottages__title">Sierra Meadow Cottage</h3>
          <p class="cottages__description">
            Rent this cabin, located not far from Yosemite National Park, breathe
            the pure mountain air, drink the cleanest water, and enjoy thrilling
            sunset/sunrise views from the terrace.
          </p>
        </div>
      </div>

      <div class="cottages__item">
        <img
          src="img/about.about-yosemite/yosemite’s-river-house.webp"
          alt="Yosemite’s River House"
          class="cottages__image"
        />
        <div class="cottages__content">
          <h3 class="cottages__title">Yosemite’s River House</h3>
          <p class="cottages__description">
            The Yosemite’s River House offers a breathtaking view of the Merced
            River. This spectacular place will surely make you come back. Rent and
            enjoy your stay!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>