<!-- Maria Batoorina -->
<section class="season-activities">
  <div class="season-activities__container">
    <h2 class="season-activities__title">Season Activities</h2>

    <div class="carousel">
      <div class="carousel__container">
        <div class="carousel__slide active">
          <div class="season-activities__winter">
            <div class="season-activities__winter-image">
              <img
                class="season-activities__image"
                src="img/season-activities/winter-vacation.webp"
                alt="Winter Vacation in Yosemite"
              />
            </div>
            <div class="season-activities__content">
              <h3 class="season-activities__subtitle">
                Winter Vacation in Yosemite National Park
              </h3>
              <p class="season-activities__text">
                Visit our park in winter and celebrate Christmas and New Year
                holidays with us. You and all your family members will be
                impressed with a variety of breathtaking adventures and winter
                activities we have to offer.
              </p>
              <ul
                class="season-activities__list season-activities__list--winter"
              >
                <li class="season-activities__item">Snowmobile riding</li>
                <li class="season-activities__item">Snowboarding</li>
                <li class="season-activities__item">Snow-shoeing</li>
                <li class="season-activities__item">Skating</li>
                <li class="season-activities__item">Skiing</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="carousel__slide">
          <div class="season-activities__summer">
            <div class="season-activities__content">
              <h3 class="season-activities__subtitle">
                Summer Vacation in Yosemite National Park
              </h3>
              <p class="season-activities__text">
                Whatever the season, Yosemite National Park has a wide range of
                activities for you to choose from. Visit us in summer and enjoy
                your vacation!
              </p>
              <ul
                class="season-activities__list season-activities__list--summer"
              >
                <li class="season-activities__item">Horseback riding</li>
                <li class="season-activities__item">Rock climbing</li>
                <li class="season-activities__item">Biking</li>
                <li class="season-activities__item">Cycling</li>
                <li class="season-activities__item">Fishing</li>
                <li class="season-activities__item">Hiking</li>
                <li class="season-activities__item">Rafting</li>
                <li class="season-activities__item">Golf</li>
                <li class="season-activities__item">Camping</li>
                <li class="season-activities__item">Guided tours</li>
              </ul>
            </div>
            <div class="season-activities__summer-image">
              <img
                class="season-activities__image"
                src="img/season-activities/summer-vacation.webp"
                alt="Summer Vacation in Yosemite"
              />
            </div>
          </div>
        </div>
      </div>

      <button
        class="carousel__button carousel__button--prev"
        aria-label="Previous slide"
      >
        &#10094;
      </button>
      <button
        class="carousel__button carousel__button--next"
        aria-label="Next slide"
      >
        &#10095;
      </button>

      <div class="carousel__indicators">
        <button
          class="carousel__indicator active"
          aria-label="Go to slide 1"
        ></button>
        <button class="carousel__indicator" aria-label="Go to slide 2"></button>
      </div>
    </div>

    <div class="season-activities-spa">
      <div class="spa-content">
        <h3 class="season-activities__spa-subtitle">SPA Vacations</h3>
        <p class="season-activities__spa-text">
          Our bespoke spa vacations offer something unique for everyone in our
          spa center. Improve your well-being by paying special attention to our
          specialized spa procedures, yoga classes, Ayurveda, weight loss
          program, and fitness classes. Supplement your daily wellness with
          healthy cuisine for optimal health and wellness.
        </p>
      </div>
      <div class="season-activities__spa-image">
        <img
          class="season-activities__image"
          src="img/season-activities/spa-vacation.webp"
          alt="Spa Vacation in Yosemite"
        />
      </div>
    </div>
  </div>
</section>

<section class="any-questions">
  <div class="any-questions__content">
    <div class="any-questions__text">
      <h2 class="any-questions__title">Any questions?</h2>
      <p class="any-questions__subtitle">
        Complete the form and our manager will contact you as soon as possible
      </p>
    </div>

    <form
      class="any-questions__form"
      action="https://formspree.io/f/xblzgapr"
      method="post"
    >
      <input type="text" name="name" placeholder="Name" required />
      <input type="email" name="email" placeholder="Email" required />
      <textarea name="message" rows="5" placeholder="Your Message"></textarea>
      <button type="submit">Send</button>
    </form>
  </div>
</section>
